a:hover {
  color:green;
}
#Pride:hover{
  color:green;
}
#linktext:hover{
  color:blue;
  font-stlye:bold;
}
#whitetext{
  color:white;
}
#whitetext:hover{
  color:#76a6f5;
  font-style:bold;
}
